[user]
	name = Eric Jalbert
	email = ericmjalbert@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
[credential]
	helper = cache 

[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
